/* colors */
/* mixins */
/* breakpoints */
/* normalize */
@import url(layout/normalize.css);
/* media */
/* fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,900&display=swap&subset=cyrillic");
/* base settings */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px; }

html,
body {
  height: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-size: 16px;
  overflow-x: hidden; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
  width: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

ul {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

li {
  list-style: none; }

p {
  padding: 0;
  margin: 0; }

button {
  background: transparent;
  border: none; }

/* blocks */
.header {
  width: 100%;
  background-color: #040404; }
  .header:after {
    content: "";
    display: block;
    width: 100%;
    background-color: #FDC12A;
    height: 18px; }

.header__top {
  padding: 20px 0; }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__bottom {
  width: 100%;
  background-color: #FDBA12;
  padding: 25px; }

.header__title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  color: #0B0700;
  text-transform: uppercase; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__item {
  margin-right: 20px; }
  .menu__item:last-child {
    margin-right: 0; }

.menu__link {
  font-family: Roboto Condensed;
  line-height: 18px;
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease; }
  .menu__link:hover {
    color: #FDBA12; }

.contacts__phone-link,
.contacts__mail-link {
  font-family: Roboto Condensed;
  line-height: 18px;
  color: #FDBA12;
  text-decoration: none;
  margin-left: 10px; }

.contacts__phone,
.contacts__mail {
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s; }
  .contacts__phone:hover .contacts__phone-link,
  .contacts__phone:hover .contacts__mail-link,
  .contacts__mail:hover .contacts__phone-link,
  .contacts__mail:hover .contacts__mail-link {
    color: #fff; }
  .contacts__phone:hover svg,
  .contacts__mail:hover svg {
    fill: #fff; }

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.about {
  width: 70%;
  padding-bottom: 50px; }

.about__title {
  margin: 25px 0;
  text-align: center;
  font-family: Roboto Condensed;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
  color: #000000; }
  .about__title:before {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    margin-right: 10px;
    width: 10.41px;
    height: 10.41px;
    background: #FDC12A;
    -webkit-transform: matrix(0.71, -0.77, 0.65, 0.71, 0, 0);
    -ms-transform: matrix(0.71, -0.77, 0.65, 0.71, 0, 0);
    transform: matrix(0.71, -0.77, 0.65, 0.71, 0, 0); }

.about__img {
  max-height: 200px;
  margin-bottom: 30px; }

.about__img-pic {
  width: 100%;
  max-height: 220px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top; }

.about__text {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7em;
  color: #000000; }
  .about__text p {
    margin-bottom: 10px; }

.sidebar {
  background-color: #FDBA12; }

#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a {
  border: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  line-height: 1;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: relative; }

#cssmenu {
  color: #ffffff;
  font-family: Roboto,sans-serif;
  width: 330px; }

#cssmenu ul ul {
  display: none; }

#cssmenu > ul > li > a {
  color: #040404;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 20px;
  text-decoration: none;
  z-index: 2; }

#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a,
#cssmenu > ul > li.open > a {
  background: #FDBA12;
  /* Old browsers */
  border: none;
  color: #040404; }

.holder {
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 0; }

.holder:after, .holder:before {
  content: "";
  display: block;
  height: 6px;
  position: absolute;
  right: 20px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  width: 6px;
  z-index: 10; }

.holder:after {
  border-left: 2px solid #040404;
  border-top: 2px solid #040404;
  top: 17px; }

#cssmenu > ul > li > a:hover > span:after,
#cssmenu > ul > li.active > a > span:after,
#cssmenu > ul > li.open > a > span:after {
  border-color: #040404; }

.holder:before {
  top: 18px; }

#cssmenu ul ul li a {
  background: #49505a;
  border-bottom: 1px solid #32373e;
  border-left: 1px solid #32373e;
  border-right: 1px solid #32373e;
  color: #eeeeee;
  cursor: pointer;
  font-size: 13px;
  padding: 10px 20px;
  text-decoration: none;
  z-index: 1; }

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.open > a,
#cssmenu ul ul li.active > a {
  background: none repeat scroll 0 0 #424852;
  color: #ffffff; }

#cssmenu ul ul li:first-child > a {
  -webkit-box-shadow: none;
  box-shadow: none; }

#cssmenu ul ul ul li a {
  padding-left: 30px; }

#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a {
  border-bottom: 0 none; }

#cssmenu > ul > li > ul > li.open:last-child > a,
#cssmenu > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #32373e; }

#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0 none; }

#cssmenu ul ul li.has-sub > a:after {
  border-left: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee;
  content: "";
  display: block;
  height: 5px;
  position: absolute;
  right: 20px;
  top: 11.5px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  width: 5px;
  z-index: 10; }

#cssmenu ul ul li.active > a:after,
#cssmenu ul ul li.open > a:after,
#cssmenu ul ul li > a:hover:after {
  border-color: #ffffff; }

.footer {
  padding: 20px 0;
  background-color: #040404; }

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer__menu .menu__list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-wrap: wrap;
  max-height: 85px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .footer__menu .menu__list .menu__item {
    margin-right: 45px; }

.footer__copy {
  text-align: center;
  color: #fff;
  margin-top: 20px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  text-align: center; }

/*# sourceMappingURL=main.css.map */