<<<<<<< HEAD
/* colors */

$black: #040404;
$orange: #FDBA12;
$orange-light: #FDC12A;

/* mixins */
@mixin title {
    font: {
        size: 40px;
        weight: bold;
    }
    margin-bottom: 30px;
    color: $black;
    line-height: 1.25;
}

@mixin button {
    min-width: 15.625rem;
    background-color: #7eb252;

    padding: 1.250rem;

    font-size: 0.875rem;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    &:hover {
        background-color: $darkgreen;
        transition: .2s ease;
    }
}


/* breakpoints */
$tablets: 768px;
$phones: 480px;

/* normalize */
@import "layout/normalize.css";

/* media */
@import "layout/media.scss";

/* fonts */
@import "layout/fonts.scss";

/* base settings */
@import "layout/base.scss";


/* blocks */
@import "./blocks/header.scss";
@import "./blocks/menu.scss";
@import "./blocks/contacts.scss";
@import "./blocks/main-content.scss";
@import "./blocks/about.scss";
@import "./blocks/aside.scss";
@import "./blocks/cssmenu.scss";
@import "./blocks/footer.scss";
=======
/* colors */

$black: #040404;
$orange: #FDBA12;
$orange-light: #FDC12A;

/* mixins */
@mixin title {
    font: {
        size: 40px;
        weight: bold;
    }
    margin-bottom: 30px;
    color: $black;
    line-height: 1.25;
}

@mixin button {
    min-width: 15.625rem;
    background-color: #7eb252;

    padding: 1.250rem;

    font-size: 0.875rem;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    &:hover {
        background-color: $darkgreen;
        transition: .2s ease;
    }
}


/* breakpoints */
$tablets: 768px;
$phones: 480px;

/* normalize */
@import "layout/normalize.css";

/* media */
@import "layout/media.scss";

/* fonts */
@import "layout/fonts.scss";

/* base settings */
@import "layout/base.scss";


/* blocks */
@import "./blocks/header.scss";
@import "./blocks/menu.scss";
@import "./blocks/contacts.scss";
@import "./blocks/main-content.scss";
@import "./blocks/about.scss";
@import "./blocks/aside.scss";
@import "./blocks/cssmenu.scss";
@import "./blocks/footer.scss";
>>>>>>> e73cf2b8d570c57727c1631aee4f0267546ba4e6
@import "./blocks/cards.scss";