.cards {
    margin-left: 5%;
}

.cards__main-text {
    
    font-weight: bold;
    font-family: Roboto Condensed;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

    margin-bottom: 20px;

    &:first-child,
    {
        text-decoration: underline;
    }

    &:last-child {
        margin-top: 30px;
    }
}

.cards__item {
    font-weight: 800;
    margin-bottom: 20px;
    list-style-type: disc;
}


.cards__main-text-add {
    text-decoration: underline;
    margin-bottom: 10px;
    
}

.cards__phone {
    color: $orange;
    text-decoration: none;
}

.cards__link {
    color: $orange;
    text-decoration: none;
}

.cards__list {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    flex-wrap: wrap;
}

.cards__button {
    padding: 20px;
    background-color: $orange;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    margin: 30px 0;
    display: block;
    max-width: 200px;
    text-decoration: none;
    border-radius: 3px;
    text-align: center;

    transition: background-color .25s ease;

    &:hover{
        background-color: darken($orange, 6%);
    }
}

.oils__list {
    max-height: 460px;
}

.oils__text {
    &:first-child {

        text-decoration: none;
        font-weight: normal;
    }
}

.systems__list {
    max-height: 1500px;
    li {
        max-width: 33%;
    }
}
