.header {
    display: flex;
    justify-content: space-between;

    padding-top: 35px;
    padding-bottom: 37px;
}

.header__logo {
    margin-right: 31px;
    text-decoration: none;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__delivery {
    color: #9a9a9a;
}

.header__phone-icon {
    margin-right: 11px;
}

.header__phone-content {
    text-decoration: none;
    color: $black;
    font-size: 20px;
    font-weight: 500;

}

.header__phone-subtitle {
    font-size: 12px;
    color: #9a9a9a;
    text-align: right;
}