.header {
    display: flex;
    justify-content: space-between;

    padding-top: 1.063rem;
    padding-bottom: 1.188rem;
}

.header__logo {
    margin-right: 1.938rem;
    text-decoration: none;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__delivery {
    color: #9a9a9a;
}

.header__phone-icon {
    margin-right: 0.688em;
}

.header__phone-content {
    text-decoration: none;
    color: $black;
    font-size: 1.250rem;
    font-weight: 500;

}

.header__phone-subtitle {
    font-size: 0.750rem;
    color: #9a9a9a;
    text-align: right;
}