.hero__main-content {
    background-image: url('../img/img.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 28.438rem;
}

.hero__main-content-container {
    flex-direction: row;
    justify-content: space-between;
}

.hero__main-content-text {
    display: flex;
    flex-direction: column;

    text-align: left;

    margin-top: 4.375rem;
    margin-right: 6%;
    color: #fff;
}

.subtitle-top {
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 0.125rem;
}

.hero__title {
    font-size: 3.438rem;
    font-weight: 600;

    margin-bottom: 1.063rem;
}

.subtitle-bottom {
    font-size: 1.125rem;

    max-width: 31.250rem;
}

.bitter-pic {
    height: 74%;
}

.hero__main-content-img {
    margin-left: 8%;
    margin-top: 3.125rem;
}

.hero__main-content-window {
    width: 35.688rem;
    height: 19.688rem;
    background-color: #ffffff;
    margin-top: 2.625rem;
}
