.history-window {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 65%;

    margin-top: 15px;
}

.history-window__form {
    margin-top: 10px;
}

.history-window__form-button {
    @include button;

    
    margin-top: 15px;
    left: 0;
    position: relative;
}

.history-window__title-mail {
    max-width: 326px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.57;
    letter-spacing: 0.7px;
    color: $black;
    text-transform: uppercase;
}