.history__container {
    flex-direction: row;
    justify-content: space-between;
}

.history__col {
    width: 50%;
}

.history__title {
    @include title;
}

.history__content {
    left: -17%;
    width: 770px;
    background-color: #f6f9f3;
    z-index: 22;
    position: relative;
}

.history__text {
    font-size: 15px;
    color: $black;
    padding: 30px;
    z-index: 22;
    padding-left: 98px;

    p {
        margin-top: 2%;
    
        &:first-child {
            margin-top: 0;
        }
    }
}

.history__img {
    z-index: 10;
    position: relative;
    left: 19%;
    top: -10%;
  
}

.history__img-pic {
    max-height: 555px;
}

