.reviews-window {
    border: solid 1px rgba(164, 197, 140, 0.6);
    padding: 16px;
    padding-bottom: 10px;
}

.reviews-window__content {
    max-width: 298px;
    line-height: 1.5;
    color: $black;
}

.reviews-window__link {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    color: $green;
}

.reviews-window__btn {
    max-width: 112px;
    position: relative;
    top: 20px;
    background-color: #f6f9f3;
}