.reviews {
    margin-top: 150px;
}

.reviews__title {
    @include title;

    margin-bottom: 100px;
}

.reviews__content {
    width: 100%;
    max-height: 555px;
    background-color: #f6f9f3;

    position: relative;
    top: -65px;

    padding-top: 35px;
}

.reviews__text {
    line-height: 1.2;
    text-align: left;
    color: #9a9a9a;

    &::before {
        content: "";
        display: block;
        width: 31px;
        height: 3px;
        background-color: #a4c58c;
        margin-bottom: 6%;
    }
}

.reviews__author {
    font-weight: bold;
    line-height: 2.25;
    color: $black;
    margin-top: 2%;
}

.reviews__list {
    display: flex;
    flex-wrap: wrap;
}

.reviews__item {
    width: 45%;

    margin-bottom: 2%;

    &:nth-child(1),
    &:nth-child(3) {
        margin-right: 20px;
    }
}

.reviews__btns {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.reviews__more {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.71;
    text-align: left;
    color: #7eb252;

    margin-right: 49px;
}

.reviews__btn {
    @include button;
}

