.window {
    margin: 1.250rem;
    padding: 1.250rem;
    border: 1px solid $green;
    color: $black;

    padding-bottom: 0;
}

.window__title {
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;

    max-width: 11.500rem;

    margin-bottom: 0.938rem;
}